 :root{--colorprefect:rgb(32, 142, 154);
    --primary:yellow;
 }
 body { font-family: "Poppins", sans-serif; 
    background: white; 
    margin:0; 
    padding:0;
    opacity: 0; 
    animation: pageload 5ms ease-in-out forwards;
    font-weight: 10px;
    font-style: normal;
}
    
@keyframes pageload{
        to{opacity: 1;  }
    }
header{
    
    height: 15vh; 
    max-width: 100%;
    top:0px ;
    position:sticky;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:  var(--colorprefect);
    padding: 3px 10px;
    border: 1px solid rgba(0, 0, 0, 0.028);
  
}
header #Logo a{
    width: 200px;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    
}
header #Logo a img{
    width: 60px;
    height: 60px;
    border-radius: 100%;

}
header #Logo  figcaption{
    font-size: 18px;
   
    
}

/* style pour le nav bar  */
#Bare-navigation{

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#Bare-navigation #search input{
    width: 200px;
    max-width: 100%;
    height: 43px;
    border-radius: 25px;
    border: 1px rgba(138, 137, 137, 0.156) solid;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px ;
    padding: 5px 10px;


}
#Bare-navigation ul{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
#Bare-navigation ul li{
    list-style: none; }
#Bare-navigation ul li a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
/* Ici les styles au survol */
#Bare-navigation ul li a:hover{
    color: var(--primary);
    text-decoration: underline 2px white;
    transition: 1s ease;
    text-underline-offset: 8px;

}
header #loging li{
    list-style: none;
    

}
header #loging li a{
     list-style: none;
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    

}
header #loging li a:hover{
    color: var(--primary);
    transition: 1s ease;
    text-decoration: underline 2px white;
    text-underline-offset: 10px;

    
    

}
/* ici commence le style presentation-accueil */
.hero{
position: relative;
height: 90vh;
background-image: url("/Images/image\ \(1\).jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
display: flex;
align-items: center;
justify-content: center;
 overflow: hidden; 
transition: background-image 0.5s ease-in-out;

    
}
.overlay{
    background-color: rgba(0, 0, 0, 0.53);
    position: absolute;
    z-index: 1;
    inset: 0;
    


}
.content{
    position: relative;
    text-align: center;
    color: white;
    
    animation: deplacement  5s ;
    z-index: 2;
   
   
    
}
#title{
    font-size: 70px;

}
#description{
    font-size: 50px ;
}
.content button{
    background-color: rgb(120, 238, 120);
    width: 250px;
    padding: 10px 20px;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    cursor: pointer;
    
}
/*  Animations with keyframes */
@keyframes deplacement{
    0%{
        /* transform: translateX(-150px); */
        transform:  translateY(150px);
        opacity: 0.5;
    }
    20%{
        transform: translateY(0px);
        opacity: 1;
         
    }
    85%{
        transform: translateY(0px);
        opacity: 1;
         
    }
    100%{
        transform: translateY(-20px);
        opacity: 0;
         
    }
}
/* fin de style presentation-accueil */
/* Début style pour les informations defilantes */
marquee{
    font-size: 30px;
    align-items: center;
    text-align: center;
    color: black;
    
}
marquee a{
    color: rgb(84, 223, 221);
    text-decoration: none;
}
/*  Fin style pour les informations defilantes */
/* Début style de la  section de presentation situé en bas des informations déroulantes  */
.st-presentation{
    background-color: white;
    height: 80vh;
    display: flex;
    width: 100%;

}

.slider-presentation{
    height: 100%;
    width: 50%;
    padding: 10px 40px;
}
.slider-presentation .titre{
    font-size: 35px;
}
.slider-presentation .titre span{
    color: var(--colorprefect);
}
.slider-presentation .P-presentation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;

}
.slider-image{
    height: 100%;
    width: 50%;
}
.slider-image img{
    height: 100%;
    width: 100%;
}
/* Fin style de la  section de presentation situé en bas des informations déroulantes  */



/* Début  style du bloc  de formations  situé juste en haut  le  du bloc de A propos */
.st-formation{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: start;
    padding: 5px ;

    
}
.st-formation-titre{
    max-height: 40vh;

    width: auto;
    text-align: center;
    background-color: var(--colorprefect);


}
.st-formation-titre h4{
    font-size: 35px;
    
}
.st-formation-titre p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}
/* style des blocs de formations */
#contenant-formation{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px ;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    animation: moveplus 2s ease;
   
}
@keyframes moveplus{
    0%{
        transform:translate(-50px);
        transition: 1s ;
        

    }

     100%{
        transform:translate(0px);
        transition: 1s ;
         


    }
}
.formation-n1{
    min-height: 430px;
    max-height: 430px;
    max-width: 300px;
    border-radius: 5%;
    border-top: 5px solid  rgb(84, 223, 221) ;
    padding: 15px;
    cursor: pointer;
    animation: moveplus 1s ease;
    
    

}
/* Effet au survol sur la section des formation */
.formation-n1:hover{
    transform: translateY(-7px);
    transition: 1s ;
    
}

.formation-img-titre{
    max-height:80px ;
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}
.formation-img-titre img{
    height: 50px ;
    width: 50px;
    border-radius: 20%;

}
.formation-img-titre h5 a{
    text-decoration: none;
    color: rgb(84, 223, 221) ;
    font-size: 15px;
    width:  200px;
}
.formation-n1 .la-formation  h3 a{
    font-size: 25px;
    text-decoration: none;
    color: black;
    max-height: 50px;
    overflow: hidden;

}
.formation-n1 .la-formation{
    max-height: 250px;
    min-height: 250px;
    overflow: hidden;
}

.formation-n1 .details{
   
    display: flex;
    flex-direction: row;
    max-height: 80px;
    min-height: 80px;
    overflow: hidden;
    gap: 20px;
    text-align: center;
    justify-content: center;
}
.formation-n1 .details p{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: row;
    font-size: 15px;
    
    
     
}
.formation-n1 .details p strong{
    font-size: 20px;
    text-decoration: underline;
    
}
/* Fin  style du bloc  de formations  situé juste en haut  le  du bloc de A propos */

/* Début  style du bloc  de A propos  situé juste en haut de footer*/
#a-propos{
    background-color: var(--colorprefect);
    height: 70vh;
    display: flex;
    width: 100%;
    margin-top: 10px;
    transition: 3s ease-in;
    z-index: 50;
    animation:move 2s ease ;

}
#a-propos .slider-image-a-propos{
    height: 100%;
    width: 50%;

}
#a-propos .slider-image-a-propos img{
    height: 85%;
    width: 85%;
    padding: 40px;
    border-radius: 9%;
    

}
#a-propos #description{
    height: 100%;
    width: 50%;
    padding: 10px 40px;

}
#a-propos #description h2{
     font-size: 30px;
     color: white;
     text-align: start;

}
#a-propos #description p{
    
    font-size: 20px;
    color: white;
    
}
/* Fin  style du bloc  de A propos  situé juste en haut de footer*/

/* Début styles de footer */
#foot{
    height: 60vh;
    display: flex;
    color: rgba(0, 0, 0, 0.773);
}
#foot .st-foot{
    height: 100%;
    width:300px;
    padding:10px  40px;
}
#foot .st-foot h3 a{
    color: var(--colorprefect) ;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    text-decoration: none;
    
}
#foot .st-foot h3 a:hover{
    color: var(--primary);
    text-decoration: underline 2px white;
    transition: 1s ;
    text-underline-offset: 8px;
}
#foot .st-foot ul li{
    list-style: none;
    margin: 20px 0px;
    
    }
#foot .st-foot ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.773);
    font-size: 20px;
}
#foot .st-foot ul li a:hover{
     color: var(--primary);
    text-decoration: underline 2px white;
    transition: 1s ;
    text-underline-offset: 8px;
}
#foot .st-foot input{
    background-color: brown;
    margin: 20px 0px;
    flex-direction: column;
    
    }
#my-copyright{
    text-align: center;
    align-items: center;
    justify-content: center;
}
/* Début styles de footer */
